<%- include('../partials/head') %>
<%- include('../partials/header') %>
<section class="hero">
  <h1><%= topic.title %></h1>
  <p><%= topic.excerpt %></p>
  <p>Если тема вам откликается, можно перейти к описанию услуги и выбрать время первой встречи.</p>
  <p><a class="btn" href="/services/individual">К услуге</a> <a class="btn secondary" href="/booking">Запись</a></p>
</section>
<%- include('../partials/footer') %>
